backend/node_modules
./frontend/node_modules
.DS_Store
.env
/build
/logs
/tmp
*.log
.idea/
.vscode/
*.swp 
backend/.env.example
frontend/.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local   
backend/.env
frontend/.env
backend/.env.example
